div.cfdb_paginate {
    padding: 3px;
    margin: 3px;
}

div.cfdb_paginate a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #AAAADD;
    text-decoration: none; /* no underline */
    color: #000099;
}

div.cfdb_paginate a:hover, div.cfdb_paginate a:active {
    border: 1px solid #000099;
    color: #000;
}

div.cfdb_paginate span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #000099;
    font-weight: bold;
    background-color: #000099;
    color: #FFF;
}

div.cfdb_paginate span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #EEE;
    color: #DDD;
}
